@using BlogProject.Models;
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<BlogPost>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var blogPost in Model)
            {
                <div class="post-preview">
                    <a href=@Url.Action("Details", "BlogPosts", new { slug = (string)blogPost.Slug })>
                        <h2 class="post-title">
                            @blogPost.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @blogPost.Abstract
                        </h3>
                    </a>
                    @if (blogPost.ImagePath != null)
                    {
                        <img class="img-responsive" src="@blogPost.ImagePath" alt="" />
                    }
                    <p class="post-meta">
                        Posted by
                        @Html.ActionLink("Andrew", "About", "Home")
                        on @blogPost.Created.ToString("MMM dd, yyyy")
                    </p>
                </div>
                <hr>
            }
            <!-- Pager -->
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
        </div>
    </div>
</div>
</div>
