@using BlogProject.Models;
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<BlogPost>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var blogPost in Model)
            {
                <div class="post-preview">
                    <a href=@Url.Action("Details", "BlogPosts", new { slug = (string)blogPost.Slug })>
                        <h2 class="post-title">
                            @blogPost.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @blogPost.Abstract
                        </h3>
                    </a>
                    @if (blogPost.ImagePath != null)
                    {
                        <img class="img-responsive" src="@blogPost.ImagePath" alt="" />
                    }
                    <p class="post-meta">
                        Posted by
                        @Html.ActionLink("Andrew", "About", "Home")
                        on @blogPost.Created.ToString("MMM dd, yyyy")
                    </p>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        @Html.ActionLink("Edit", "Edit", "BlogPosts", new { slug = (string)blogPost.Slug }, new { @class = "btn btn-primary btn-sm" })
                    </div>
                    <div class="col">
                        @Html.ActionLink("Details", "Details", "BlogPosts", new { slug = (string)blogPost.Slug }, new { @class = "btn btn-primary btn-sm" })
                    </div>
                    <div class="col">
                        @Html.ActionLink("Delete", "Delete", "BlogPosts", new { slug = (string)blogPost.Slug }, new { @class = "btn btn-primary btn-sm" })
                    </div>
                </div>
                <hr />
            }
            <!-- Pager -->
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="~/Scripts/jquery.min.js"></script>


<!-- Custom scripts for this template -->
<script src="~/Scripts/clean-blog.min.js"></script>


<script>
    $(document).ready(function () {
        var imageUrl = "";
        $(".masthead").css("background-image", "url(" + imageUrl + ")");
        $('#topText').text("Post Admin Panel");
        $('#subText').text("View / Edit / Delete Posts");
    });
</script>

